body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.game-title {
  color: #776e65;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.score {
  margin-bottom: 20px;
  font-size: 24px;
  color: #777;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); 
  grid-gap: 10px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: #bbada0;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  color: #776e65;
  background-color: #cdc1b4;
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 0;
}



.cell[data-value="0"] {
  background-color: #cdc1b4;
  color: #cdc1b4;
}

.cell[data-value="2"] {
  background-color: #eee4da;
  color: #776e65;
}

.cell[data-value="4"] {
  background-color: #ede0c8;
  color: #776e65;
}

.cell[data-value="8"] {
  background-color: #f2b179;
  color: #f9f6f2;
}

.cell[data-value="16"] {
  background-color: #f59563;
  color: #f9f6f2;
}

.cell[data-value="32"] {
  background-color: #f67c5f;
  color: #f9f6f2;
}

.cell[data-value="64"] {
  background-color: #f65e3b;
  color: #f9f6f2;
}

.cell[data-value="128"] {
  background-color: #edcf72;
  color: #f9f6f2;
}

.cell[data-value="256"] {
  background-color: #edcc61;
  color: #f9f6f2;
}

.cell[data-value="512"] {
  background-color: #edc850;
  color: #f9f6f2;
}

.cell[data-value="1024"] {
  background-color: #edc53f;
  color: #f9f6f2;
}

.cell[data-value="2048"] {
  background-color: #edc22e;
  color: #f9f6f2;
}

.new-game-button {
  display: block;
  margin: 20px auto; 
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #8f7a66;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.new-game-button:hover {
  background-color: #7b6855;
}
